<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>dyx_control</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="root">
        <div class="main_container clearfix">      
          <div class="drugTitle">
              <h1 style="margin: 5px 0;">泰诺®&nbsp;&nbsp;&nbsp;&nbsp;泰诺林®</h1>
              <h1 style="margin: 5px 0;">对乙酰氨基酚缓释片说明书</h1>
              <h2>请仔细阅读说明书并按说明使用或在药师指导下购买和使用</h2>
              <h2>过量使用对乙酰氨基酚缓释制剂可引起严重肝损伤，</h2>
              <h2>长期饮酒、肝功能异常者使用对乙酰氨基酚发生肝损伤的风险更高</h2>
          </div>
          <div class="mainContent">
              <div class="function_class">
                  <p class="title">【药品名称】</p>
                  <p>通用名称：对乙酰氨基酚缓释片</p>
                  <p>商品名称：泰诺林®</p>
                  <p>英文名称：Paracetamol Sustained Release Tablets</p>
                  <p>汉语拼音：Duiyixian’anjifen Huanshipian</p>
              </div>
              <div class="function_class">
                  <p class="title">【成份】</p>
                  <p>本品每片含主要成份对乙酰氨基酚0.65克。辅料为：粉状纤维素、淀粉、羟乙基纤维素、聚维酮、微晶纤维素、预胶化淀粉、羧甲基淀粉钠、硬脂酸镁、欧巴代和棕榈蜡。</p>
              </div>
              <div class="function_class">
                  <p class="title">【性状】</p>
                  <p>本品为薄膜衣异型片，除去包衣后显白色或类白色。</p>
              </div>
              <div class="function_class">
                  <p class="title">【作用类别】</p>
                  <p>本品为解热镇痛类非处方药药品。</p>
              </div>
              <div class="function_class">
                  <p class="title">【适应症】</p>
                  <p>用于普通感冒或流行性感冒引起的发热，也用于缓解轻至中度疼痛如头痛、关节痛、偏头痛、牙痛、肌肉痛、神经痛、痛经。</p>
              </div>
              <div class="function_class">
                  <p class="title">【规格】</p>
                  <p>0.65克</p>
              </div>
              <div class="function_class">
                  <p class="title">【用法用量】</p>
                  <p>口服。成人和12岁以上儿童一次1片，若持续发热或疼痛，每8小时一次，24小时不超过3次。</p>
              </div>
              <div class="function_class">
                  <p class="title">【不良反应】</p>
                  <ol>
                      <li>偶见药热和粒细胞减少。</li>
                      <li>偶见皮疹、荨麻疹等过敏反应；有报道，极少数患者使用对乙酰氨基酚可能出现致命的、严重的皮肤不良反应。</li>
                      <li>文献报告与胃刺激有关的严重胃肠不良事件的年发生率约千分之2.1至千分之2.6。</li>
                      <li>长期大量用药会导致肝肾功能异常。过量服用对乙酰氨基酚可引起严重肝损伤。</li>
                      <li>其他不良反应包括：超敏反应、过敏、痒疹、转氨酶升高、固定皮疹。</li>
                  </ol>
              </div>
              <div class="function_class caution">
                  <p class="title">【禁忌】</p>
                  <p>严重肝、肾功能不全者禁用；对对乙酰氨基酚（或称扑热息痛）或制剂中其他赋形剂过敏者禁用。</p>
              </div>
              <div class="function_class caution">
                  <p class="title">【注意事项】</p>
                  <ol>
                      <li>不推荐12岁以下儿童使用本品。</li>
                      <li>应整片服用，不得碾碎或者溶解后服用。</li>
                      <li>本品为对症治疗药，用于解热连续使用不超过3天，用于止痛不超过5天，症状未缓解请咨询医师或药师。</li>
                      <li>当出现皮疹或过敏反应的其他征象时，如用药后出现瘙痒、皮疹，尤其出现口腔、眼、外生殖器红斑、糜烂等，应立即停药并咨询医生。</li>
                      <li>因过量服用对乙酰氨基酚有引起严重肝损伤的报道，应严格按说明书使用，成人或儿童过量服用情况下无论是否出现不适症状，都应立即就医。服药期间如发现肝生化指标异常或出现全身乏力、食欲不振、厌油、恶心、上腹胀痛、尿黄、目黄、皮肤黄染等可能与肝损伤有关的临床表现时，应立即停药并就医。</li>
                      <li>对阿司匹林过敏者慎用。</li>
                      <li>不能同时服用其他含解热镇痛药的药品（如某些复方抗感冒药）。</li>
                      <li>肝肾功能不全者慎用。</li>
                      <li>孕妇及哺乳期妇女慎用。</li>
                      <li>服用本品期间不得饮酒或含有酒精的饮料。</li>
                      <li>对本品过敏者禁用，过敏体质者慎用。</li>
                      <li>本品性状发生改变时禁止使用。</li>
                      <li>请将本品放在儿童不能接触的地方。</li>
                      <li>如正在使用其他药品（如抗凝剂：华法林或其他香豆素衍生物），使用本品前请咨询医师或药师。</li>
                      <li>如症状持续或恶化，或出现新的症状，患者应停药并咨询医师。</li>
                      <li>肝病患者使用本品前请咨询医师。</li>
                      <li>孕妇及哺乳期妇女服用本品前请向医师咨询。</li>
                      <li>长期饮酒者服用本品或其他解热镇痛药前请咨询医师。</li>
                      <li>使用本品如出现皮疹或其它过敏症状，应立即停药并咨询医师。在接受对乙酰氨基酚治疗的患者中，极少见严重皮肤反应，如急性全身发疹性脓疱病（AGEP）、Stevens-Johnson综合征（SJS）和中毒性表皮坏死溶解症（TEN）的报告。患者应被告知严重皮肤反应的征候（包括皮肤发红、水疱、皮疹等），并在最初出现皮疹或其它过敏反应时停药，并及时就诊。</li>
                      <li>药物过量</li>
                  </ol>
                  <p>对乙酰氨基酚在成年人和青少年（≥12岁）中，在8小时或以内的时间内摄入超过7.5-10g后发生肝毒性。死亡病例并不常见（小于3-4％的未治疗病例），罕见报道低于15g的药物过量。在儿童中（&lt;12岁），低于150mg/kg的急性药物过量与肝毒性无关。潜在的肝毒性药物过量后的初期症状包括：厌食症、恶心、呕吐、出汗、苍白和全身不适。在摄入后48-72小时，肝毒性的临床和实验室异常可能尚未表现。</p>
                  <p>幼儿急性对乙酰氨基酚过量后，严重毒性或死亡极为罕见，可能是由于他们代谢对乙酰氨基酚的方式不同。</p>
                  <p>以下是与对乙酰氨基酚过量相关的临床事件，如果出现在药物过量的病人将被认为是预期之中的，包括暴发性肝功能衰竭或其后遗症引起的致命事件。</p>
                  <table border="1" cellspacing="0" cellpadding="10">
                      <caption style="font-size: 28px;">表1 对乙酰氨基酚过量识别的药物不良反应</caption>
                      <tr>
                      <td class="tab_tit">代谢和营养疾病：</td>
                      <td>厌食</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">肠胃疾病：</td>
                      <td>呕吐、恶心、腹部不适</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">肝胆疾病：</td>
                      <td>肝坏死、急性肝功能衰竭、黄疸、肝肿大、肝压痛</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">全身异常及给药部位状况：</td>
                      <td>苍白、多汗、乏力</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">检查：</td>
                      <td>血胆红素升高、肝酶升高、国际标准化比值升高、凝血酶原时间延长、血磷酸升高、血乳酸升高</td>
                      </tr>
                  </table>
                  <br>
                  <p>
                      以下临床事件是急性肝功能衰竭导致的后果，且可能致死。
                      如果在对乙酰氨基酚过量相关的急性肝功能衰竭情况下发生这些事件时:
                      （成年人和青少年：≥12 岁：>7.5g，在8 小时内；&lt;12 岁的儿童：&gt;150mg/kg，在8 小时内)，认为它们是预期的。
                  </p>
                  <br>
                  <table border="1" cellspacing="0" cellpadding="10">
                      <caption style="font-size: 28px;">表2 与对乙酰氨基酚过量相关的急性肝功能衰竭导致的预期后果</caption>
                      <tr>
                      <td class="tab_tit">感染和侵染：</td>
                      <td>败血症、霉菌感染、细菌感染</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">血液和淋巴系统疾病：</td>
                      <td>弥漫性血管内凝血、凝血病、血小板减少</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">代谢和营养疾病：</td>
                      <td>低血糖症、低磷血症、代谢性酸中毒、乳酸酸中毒</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">神经系统疾病：</td>
                      <td>昏迷（大剂量对乙酰氨基酚过量或多种药物过量）、脑病、脑水肿</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">心脏疾病：</td>
                      <td>心肌病</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">血管疾病：</td>
                      <td>低血压</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">呼吸、胸腔和纵隔疾病：</td>
                      <td>呼吸衰竭</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">肠胃疾病：</td>
                      <td>胰腺炎、胃肠道出血</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">肾脏和泌尿系统疾病：</td>
                      <td>急性肾衰竭</td>
                      </tr>
                      <tr>
                      <td class="tab_tit">全身异常及给药部位状况：</td>
                      <td>多器官衰竭</td>
                      </tr>
                  </table>
                  <br>
                  <p>
                      N-乙酰半胱氨酸是对乙酰氨基酚中毒的拮抗药，宜尽早应用，12小时内给药疗效满意，超过24小时疗效较差。
                  </p>
              </div>
              <div class="function_class">
                  <p class="title">【药物相互作用】</p>
                  <ol>
                      <li>应用巴比妥类（如苯巴比妥）或解痉药（如颠茄）的患者，长期应用本品可致肝损害。</li>
                      <li>本品与氯霉素同服，可增强后者的毒性。</li>
                      <li>如与其他药物同时使用可能会发生药物相互作用，详情请咨询医师或药师。</li>
                  </ol>
              </div>
              <div class="function_class">
                  <p class="title">【药理作用】</p>
                  <p>本品能抑制前列腺素合成，具有解热镇痛作用。本品由速释层和缓释层两部分组成，口服后速释层中对乙酰氨基酚迅速溶出而被吸收，产生解热止痛作用，缓释层则缓慢释放对乙酰氨基酚，使作用持续8小时之久。</p>
              </div>
              <div class="function_class">
                  <p class="title">【贮藏】</p>
                  <p>遮光，密闭保存</p>
              </div>
              <div class="function_class">
                  <p class="title">【包装】</p>
                  <p>聚氯乙烯固体药用复合硬片、药用铝箔包装，6片/盒或18片/盒</p>
              </div>
              <div class="function_class">
                  <p class="title">【有效期】</p>
                  <p>36个月</p>
              </div>
              <div class="function_class">
                  <p class="title">【执行标准】</p>
                  <p>WS1-(X-347)-2004Z</p>
              </div>
          </div>          
    </div>
    </div>
  </body>
  <style>
  .main_container{
    width: 1600px;
    margin: 0 auto;
    background-color: rgba(240, 240, 240, 0.5);
  }
  .main_container .drugTitle{
    height: 280px;
    line-height: 50px;
    text-align: center;
    margin-top: 20px;
  }
  .main_container .mainContent{
    font-size: 32px;
    padding: 20px;
  }
  .main_container .mainContent .function_class{
    margin-bottom: 10px;
  }
  .main_container .mainContent .function_class .title,
  .main_container .mainContent .caution{
    font-weight: 700;
  }
  </style>
</html>